# copy, paste
alias pbpaste="xsel -ob"
alias pbcopy="xsel -ib"

# colorized ls
alias ls='ls --color=auto -GpFh --group-directories-first'

# Restart compiz
alias rcompiz='DISPLAY=:0 compiz --replace'
