#=====================================
# ALIASES
#=====================================

alias projects="cd ~/projects"
alias sublime="/opt/sublime_text/sublime_text" #For sublime-text
alias pys="python -m SimpleHTTPServer" # To run a temp server in your current folder
alias lcat="pygmentize -g" # install python-pygments from your package manager; Colorize your cat output
alias vi=vim

# public ip
alias publicip="curl https://api.ipify.org"

# Speedtest
alias speedtest="wget -O /dev/null http://speedtest.wdc01.softlayer.com/downloads/test10.zip"

# copy file interactive
alias cp='cp -i'

# move file interactive
alias mv='mv -i'

# colorized ls
alias ls='ls -GpFh --color=auto'

# untar
alias untar='tar xvf'

# hosts
alias hosts='sudo vim /etc/hosts'

# Lock screen
alias afk="i3lock -c 000000"

# Top
alias top="htop"

# Limit ping to 5 requests
alias ping='ping -c 5'

# List all listening ports-programs
alias ports='netstat -tulanp'

#=====================================
# FUNCTIONS
#=====================================

# Local ip address
localip() {
    interfaces=($(ifconfig | grep 'Link encap' | awk -F' ' '{print $1}'))
    for i in ${interfaces[@]}; do
    	echo "$i - $(ifconfig $i | grep "inet addr" | awk -F':' '{print $2}' | awk -F' ' '{print $1}')"
    done
}

# To view json files in pretty format and syntax highlight
jsonview() {
    if [ -z "$1" ]; then
        echo "jsonview: Input file missing. Please provide one."
    else
        python -mjson.tool $1 | pygmentize -l json
    fi
}

# To shorten urls
# For more information on Bitly URL shortening, read the documentation https://dev.bitly.com/links.html#v3_shorten
bitly() {
    if [ -z "$1" ]; then
        echo "bitly: Enter URL to shorten"
    else
        curl -s "https://api-ssl.bitly.com/v3/shorten?access_token=$ACCESS_TOKEN&longUrl=$1" | python -mjson.tool | grep -w "url"
    fi
}

# Pushbullet API push mechanism
pushb() {
curl -s --header 'Access-Token: '$PUSH_BULLET_ACCESS_TOKEN \
     --header 'Content-Type: application/json' \
     --data-binary '{"body":"'"$2"'","title":"'"$1"'","type":"note"}' \
     --request POST \
     https://api.pushbullet.com/v2/pushes > /dev/null
}

# To execute everytime before a prompt
function PS1_curDir() {
    curDir=$(pwd | sed -e 's#'"${HOME}"'#~#g')
    pwdPathSize=50
    if [ "$(echo "$curDir" | wc -c)" -gt $pwdPathSize ];
    then
        curDir="$( echo $curDir | awk -F'/' '{print $1"/"$2"/.../"$(NF-1)"/"$NF }' )"
    fi
}

#=====================================
# SOURCING OTHER CONFIG FILES
#=====================================

source $HOME/dwarak_dotfiles/explorer/explorer.rc
