#=====================================
# COLOR VARIABLES FOR PRINT STATEMENTS
#=====================================

GREEN='\033[1;32m'
RED='\033[1;31m'
BLUE='\033[1;36m'
RESET_COLOR='\033[0m'

#=====================================
# ALIASES
#=====================================

alias projects="cd ~/projects"
alias lcat="pygmentize -g" # install python-pygments from your package manager; Colorize your cat output
alias vi=vim

# Alert
alias alert='notify-send --urgency=low -i "$([ $? = 0 ] && echo terminal || echo error)" "$(history|tail -n1|sed -e '\''s/^\s*[0-9]\+\s*//;s/[;&|]\s*alert$//'\'')"'

# public ip
alias publicip="curl https://api.ipify.org"

# Speedtest
alias speedtest="wget -O /dev/null http://speedtest.wdc01.softlayer.com/downloads/test10.zip"

# rsync with progress
alias rsync='rsync --info=progress2'

# copy file interactive
alias cp='cp -i'

# move file interactive
alias mv='mv -i'

# hosts
alias hosts='sudo vim /etc/hosts'

# Lock screen
alias afk="i3lock -c 000000"

# Top
alias top="htop"

# Limit ping to 5 requests
alias ping='ping -c 5'

# List all listening ports-programs
alias ports='netstat -tulanp'

# Gzip as pigz
# Learn more about pigz here - http://zlib.net/pigz/
alias gzip=pigz
alias gunzip=unpigz

# Logout
alias logout='mate-session-save --logout'

# Display path
alias path='echo $PATH | tr ":" "\n" | nl'

# Disk space
alias du='du -sh * | sort -h'

# Battery
alias battery='upower -i $(upower -e | grep BAT) | grep --color=never -E "state|to\ full|to\ empty|percentage"'

# fzf aliases
alias preview="fzf --preview 'bat {}'"
alias open='vi $(preview)'

#=====================================
# FUNCTIONS
#=====================================

# Help
function help() {
     printf "\n${BLUE} ================ MAN PAGES ================ ${RESET_COLOR}\n"
     tldr $1
     printf "\n${BLUE} ================ EXAMPLES ================ ${RESET_COLOR}\n\n\n\n\n"
     curl cht.sh/$1
 }


# Pretty Print CSV
# Reference - https://www.stefaanlippens.net/pretty-csv.html
function pretty_csv {
    column -t -s, -n "$@" | less -F -S -X -K
}


## To start temp server
pys() {
    if [[ $(python -c 'import sys; print(".".join(map(str, sys.version_info[:3])))' | cut -d'.' -f1) == 2 ]]; then
        printf "\n${GREEN}Content ready to be served at http://$(hostname):${1:-9000}${RESET_COLOR}\n"
        python -m SimpleHTTPServer ${1:-9000}
    elif [[ $(python -c 'import sys; print(".".join(map(str, sys.version_info[:3])))' | cut -d'.' -f1) = 3 ]]; then
        printf "\n${GREEN}Content ready to be served at http://$(hostname):${1:-9000}${RESET_COLOR}\n"
        python -m http.server ${1:-9000}
    else
        printf "\n${RED}Python version not known. Cannot start a server.${RESET_COLOR}\n"
    fi
}

# Local ip address
localip() {
    ip addr show | grep -w "inet" | tr -s ' ' | awk -F' ' '{print $NF " - " $2}'
}

# To view json files in pretty format and syntax highlight
jsonview() {
    if [ -z "$1" ]; then
        echo "jsonview: Input file missing. Please provide one."
    else
        python -mjson.tool $1 | pygmentize -l json
    fi
}

# To shorten urls
# For more information on Bitly URL shortening, read the documentation https://dev.bitly.com/links.html#v3_shorten
bitly() {
    if [ -z "$1" ]; then
        echo "bitly: Enter URL to shorten"
    else
        curl -s "https://api-ssl.bitly.com/v3/shorten?access_token=$ACCESS_TOKEN&longUrl=$1" | python -mjson.tool | grep -w "url"
    fi
}

# Pushbullet API push mechanism
pushb() {
curl -s --header 'Access-Token: '$PUSH_BULLET_ACCESS_TOKEN \
     --header 'Content-Type: application/json' \
     --data-binary '{"body":"'"$2"'","title":"'"$1"'","type":"note"}' \
     --request POST \
     https://api.pushbullet.com/v2/pushes > /dev/null
}

# To execute everytime before a prompt
function PS1_curDir() {
    curDir=$(pwd | sed -e 's#'"${HOME}"'#~#g')
    pwdPathSize=20
    if [ "$(echo "$curDir" | wc -c)" -gt $pwdPathSize ];
    then
        curDir="$( echo $curDir | awk -F'/' '{print $1"/"$2"/.../"$(NF-1)"/"$NF }' )"
    fi
}

#====================================
# DOCKER
#====================================

export DOCKER_HOST=unix:///var/run/docker.sock

#=====================================
# SOURCING OTHER CONFIG FILES
#=====================================

source $HOME/dwarak_dotfiles/explorer/explorer.rc
source $HOME/dwarak_dotfiles/utilities/extract.sh
source $HOME/dwarak_dotfiles/utilities/kp.sh
export PATH=$PATH:$HOME/dwarak_dotfiles/utilities/

case $(uname) in
  Linux)
    source $HOME/dwarak_dotfiles/linux.rc
    ;;
  Darwin)
    source $HOME/dwarak_dotfiles/mac.rc
    ;;
esac
