# Aliases

alias projects="cd ~/projects"
alias sublime="/opt/sublime_text/sublime_text" #For sublime-text
export PS1='\[\e[1;32m\]\w $ \[\e[m\]' # Guide to setting up your own PS1 variable : http://www.cyberciti.biz/tips/howto-linux-unix-bash-shell-setup-prompt.html
alias pys="python -m SimpleHTTPServer" # To run a temp server in your current folder
alias lcat="pygmentize -g" # install python-pygments from your package manager; Colorize your cat output

# public ip
alias publicip="curl https://api.ipify.org"

# Local ip address
localip() {
    interfaces=($(ifconfig | grep 'Link encap' | awk -F' ' '{print $1}'))
    for i in ${interfaces[@]}; do
        echo "$i - $(ifconfig $i | grep "inet addr" | awk -F':' '{print $2}' | awk -F' ' '{print $1}')"
    done
}

# copy file interactive
alias cp='cp -i'

# move file interactive
alias mv='mv -i'

# untar
alias untar='tar xvf'

# hosts
alias hosts='sudo vim /etc/hosts'

# Lock screen
alias afk="i3lock -c 000000"

source $HOME/dwarak_dotfiles/explorer/explorer.rc
source $HOME/dwarak_dotfiles/git/git.rc
